{% extends 'events/base.html' %}

{% block content %}

    <div class="container border border-info">
    
    {% if category %}
        <div class="row justify-content-center my-3">
            <div style="font-size: large;">Filter by-</div>
            <div class="dropdown">
                <a class="btn btn-sm btn-outline-info dropdown-toggle mx-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Date
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'events:search' city_pk=city.pk category_pk=category.pk filter='week' %}">This Weekend</a>
                    <a class="dropdown-item" href="{% url 'events:search' city_pk=city.pk category_pk=category.pk filter='month' %}">This Month</a>
                    {% if filtered %}
                        <a class="dropdown-item" href="{% url 'events:search' city_pk=city.pk category_pk=category.pk %}">View all</a>  
                    {% endif %}  
                </div>
            </div>     
        </div>

        <h3>All Events in category : {{category.name}}</h3>
    {% endif %}
    
    {% if sr_string %}
        <div class="row justify-content-center my-3">
            <div style="font-size: large;">Filter by-</div>
            <div class="dropdown">
                <a class="btn btn-sm btn-outline-info dropdown-toggle mx-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Date
                </a>
            
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'events:search' city_pk=city.pk sr_string=sr_string filter='week' %}">This Weekend</a>
                    <a class="dropdown-item" href="{% url 'events:search' city_pk=city.pk sr_string=sr_string filter='month' %}">This Month</a> 
                </div>
            </div>     
        </div>
        <h3>Search results for : "{{sr_string}}" </h3>
    {% endif %}

    
    {% if follow %}
        <h3 class="my-3">Events you follow</h3>
    {% endif %}
        
        
    <ul>
        {% for event in events %}
            <li>
                <a href="{% url 'events:event_detail' pk=event.pk %}">{{event.name}}</a> <br>
                <div class="text-muted"> Starts on: {{event.start_date}} </div>
            </li>
        {% empty %}
            <li>No events available!!!</li>
        {% endfor %}
    </ul>
        
    </div>    

{% endblock content %}

<!-- Adding filter by string -->
<!-- {% if filtered %}
            <h5 class="text-muted">Filtered by - {{filtered}} </h5>
    {% endif %} -->