{% extends 'events/base.html' %}

{% block content %}

    <div class="container border border-info pb-2">
    
    {% if category %}
        <div class="row justify-content-center my-3">
            <div style="font-size: large;">Filter by-</div>
            <div class="dropdown">
                <a class="btn btn-sm btn-outline-info dropdown-toggle mx-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Date
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'events:search_categories' city_pk=city.pk category_pk=category.pk filter='week' %}">This Weekend</a>
                    <a class="dropdown-item" href="{% url 'events:search_categories' city_pk=city.pk category_pk=category.pk filter='month' %}">This Month</a>
                    {% if filtered %}
                        <a class="dropdown-item" href="{% url 'events:search_categories' city_pk=city.pk category_pk=category.pk %}">View all</a>  
                    {% endif %}  
                </div>
            </div>     
        </div>
        <strong>
            <h3>All Events in category : {{category.name}}</h3>
        </strong>
    {% elif sr_string %}
        <div class="row justify-content-center my-3">
            <div style="font-size: large;">Filter by-</div>
            <div class="dropdown">
                <a class="btn btn-sm btn-outline-info dropdown-toggle mx-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Date
                </a>
            
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'events:search_strings' city_pk=city.pk sr_string=sr_string filter='week' %}">This Weekend</a>
                    <a class="dropdown-item" href="{% url 'events:search_strings' city_pk=city.pk sr_string=sr_string filter='month' %}">This Month</a> 
                </div>
            </div>     
        </div>
        <strong>
            <h3>Search results for : "{{sr_string}}" </h3>
        </strong>
    {% endif %}

    <ul class="list-group">
        {% for event in events %}
            <a class="list-group-item list-group-item-action list-group-item-success" href="{% url 'events:event_detail' pk=event.pk %}">
                {{event.name}}
                <div class="text-muted"> Starts on: {{event.start_date}} </div>
            </a>
        {% empty %}
            <li class="list-group-item list-group-item-dark">No events available!!!</li>
        {% endfor %}
    </ul>
        
    </div>    

{% endblock content %}