<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
	{% include 'cdn_links.html' %}
    
    <!-- Local css -->
    <link rel="stylesheet" href="{% static  'events/master.css' %}">
 
    {% block headblock %}
      
    {% endblock headblock %}
</head>
<body>
	
	{% block navblock %}
		
	{% endblock navblock %}
		
    <div class="m-3 border-dark">
		{% block content %}
			
		{% endblock %}
    </div>
        
</body>

{% block postbodyblock %}
    
{% endblock postbodyblock %}
    
<script src="{% static 'events/myscript.js' %}"></script>
</html>