html {
    scroll-behavior: smooth;
}

body{
    background-color: #14272e;
    color: white;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Ubuntu Mono', monospace;
}

a{
    color: aqua;
}

.min-width-400 {
    min-width: 350px;
    text-align: center;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }