html {
    scroll-behavior: smooth;
}

body{
    background-color: #14272e;
    color: white;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Ubuntu Mono', monospace;
}

a{
    color: aqua;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.modal-header {
    background-color: #14272e;
}