{% extends 'site_base.html' %}
{% load bootstrap4 %}

{% block headblock %}
    <title>Change Password | EventManagement Project</title>
{% endblock headblock %}

{% block navblock %}
    {% include 'navbar.html' %}
{% endblock navblock %} 

{% block content %}
<div class="container border border-success mt-2">
    <div class="row justify-content-center mt-2"><h4>Change Your Password</h4></div>
    <form method="POST"">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="row justify-content-center mb-2">
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock content %}