{% extends 'site_base.html' %}
{% load bootstrap4 %}

{% block headblock %}
    <title>Log In | EventManagement Project</title>
{% endblock headblock %}

{% block content %}
    <div class="container mt-4 border border-success">
        <h3>Log In: </h3><hr>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-success btn-sm mt-2" type="submit" value="Log In!">
        </form>
        <hr>
        Forgot Password? <a href="{% url 'password_reset' %}">Click here!</a> <br>
        Don't have an account! <a href="{% url 'accounts:signup' %}">Sign Up here!</a>
    </div>
{% endblock content %}